{% extends "layout.html" %}
{% block script %}
<script>
    $(document).ready(function() {
        let ref = $('.references');
        nav_toggle(ref);

        
    });

        

</script>

{% endblock %}
{% block title %}
References
{% endblock %}
{% block content %}
<div class="container mt-5 pt-5 text-light">
    <ul>
        <li>Hero image: <a href="//www.pexels.com/photo/waterfalls-during-sunset-954929/">Photo by Sachin C Nair from Pexels</a></li>
        <li>Sun quotes: <a href="https://www.brainyquote.com/topics/sun-quotes">Quotes by BrainyQuote</a></li>
        <li><a href="https://www.youtube.com/watch?v=5tC46h022YE">clock</a></li>
        <li>Cities.db: <a href="https://simplemaps.com/data/world-cities">Simplemaps</a></li>
        <li>daylight image: Photo by <a href="https://unsplash.com/@themcny?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Nic Y-C</a> on <a href="https://unsplash.com/photos/clouds-and-sun-during-sunset-WzazSaQF1F8?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </li>
        <li>
            first light image: 
            Photo by <a href="https://unsplash.com/@shot_by_teo?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Matteo Di Iorio</a> on <a href="https://unsplash.com/photos/trees-in-a-hill-during-daytime-T7W7iOkXssw?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </li>
        <li>
            dawn image:
            Photo by <a href="https://unsplash.com/@patuphotos?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Patrick</a> on <a href="https://unsplash.com/photos/white-flower-field-near-green-grass-field-under-blue-sky-at-sunset-q-BpZbBa7yM?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </li>
        <li>
            sunrise image:
            Photo by <a href="https://unsplash.com/@calebrussell?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Caleb</a> on <a href="https://unsplash.com/photos/green-mountains-under-white-clouds-during-daytime-V18GNaBeZqM?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </li>
        <li>
            solar noon image:
            Photo by <a href="https://www.pexels.com/@eberhardgross/">eberhard grossgasteiger:</a> on <a href="https://www.pexels.com/photo/body-of-water-448714/">Unsplash</a>
        </li>
        <li>
            golden hour image:
            Photo by <a href="https://www.pexels.com/@agung-kurn-1363438/">Agung Kurn </a>from <a href="https://www.pexels.com/photo/body-of-water-and-silhouetted-shore-at-sunset-12470911/"> Pexels </a>
        </li>
        <li>
            sunset image:
            Photo by <a href="https://unsplash.com/@davealmine?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Dawid Zawiła</a> on <a href="https://unsplash.com/photos/trees-under-cloudy-sky-during-sunset--G3rw6Y02D0?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </li>
        <li>
            dusk image: 
            Photo by <a href="https://unsplash.com/@naderabushhab?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Nader Abushhab</a> on <a href="https://unsplash.com/photos/people-on-beach-during-daytime-HWLyAQ4Jsgc?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </li>
        <li>
            last light image:
            Photo by <a href="https://unsplash.com/@kazuend?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">kazuend</a> on <a href="https://unsplash.com/photos/calm-body-of-water-near-alp-mountains-during-nighttime-2KXEb_8G5vo?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
      
        </li>
    </ul>
</div>
{% endblock %}